
        /* Page 1 - index.html */
.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 96px;
}
    /* header */
header {
    background-color: #012426;
    margin: auto;
    height: 96px;
    padding: 16px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: inherit;
    height: 96px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

}

.header_nav_a {
    display: flex;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #A1C3C9;
    animation: gradient 6s linear infinite;
}
@keyframes gradient {
    from {
        color: red;
    }
    10% {
        color: orange;
    }
    30% {
        color: yellow;
    }
    45% {
        color: green;
    }
    60% {
        color: rgb(64, 135, 179);
    }
    75% {
        color: blue;
    }
    to {
        color: blueviolet;
    }
}

.header_nav_a:hover {
    text-shadow: 2px 1px 5px #05BCCA, 0 1px 5px #05BCCA, 0 0 5px #05BCCA, 0 0 5px #05BCCA;
}



.header_nav_ul {
    /* margin-top: 16px; */

    display: flex;
    column-gap: 72px;
    vertical-align: middle;
}

.header_guitar:hover {
    width: calc(128%);
    animation: guitar .7s linear 0s;
}

@keyframes guitar {
    from {
        transform: rotate(360deg);
    }
}

.buttons {
    /* margin-top: 12px; */
    border: 0px solid transparent;
    display: flex;
    column-gap: 32px;

}

.button1 {
    background-color: transparent;
    display: inline-flex;
    
    padding: 4px;
    border: none;
}

.button2 {
    background-color: transparent;
    display: inline-flex;
    
    padding: 4px;
    border: none;
}

.button3 {
    background-color: transparent;
    display: inline-flex;
    
    padding: 4px;
    border: none;
}

.button1:hover, .button2:hover, .button3:hover {
    animation: button_hov 1.6s linear .3s infinite;
}

@keyframes button_hov {
    from {
        opacity: 50%;
    }
    50% {
        opacity: 70%;
    }
    to {
        opacity: 99%;
    }
}


/* section1 */
.section1 {
    height: 560px;
    background-image: url(../images/Rectangle\ 12.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 72px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section1_div  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 30px;

}

.section1_h2 {
    color: #ffffff;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    animation: newcollection 6s linear 2s infinite;

}

.collection {
    color: #05BCCA;
    animation: newcollection 6s linear 2s infinite;

}

.section1_h2:hover, .collection:hover {
    animation: colorRotate 2s linear 0s infinite;
    text-shadow: 0 0 10px #2d38539f, 0 0 20px #2d38539f, 0 0 30px #2d38539f, 0 0 40px #2d3853e2, 0 0 50px #2d38539f, 0 0 60px #2d38539f, 0 0 70px #2d38539f;
}

@keyframes colorRotate {
  from {
    color: #0805b8;
  }
  10% {
    color: #1892c2;
  }
  50% {
    color: #0a6c03;
  }
  75% {
    color: #ff3333;
  }
  100% {
    color: #2f2ff6;
  }
}

.section1_h2::selection, .collection::selection {
    color: #9f1515;
}




@keyframes newcollection {
    from {
        color: red;
        opacity: calc(70%);
    }
    10% {
        color: orange;
        opacity: calc(90%);

    }
    30% {
        color: yellow;
        opacity: calc(50%);

    }
    45% {
        color: green;
    }
    60% {
        color: rgb(64, 135, 179);
        opacity: calc(70%);

    }
    75% {
        color: blue;
    }
    to {
        color: blueviolet;
        opacity: calc(70%);

    }
}

.arrow {
    background-color: #C46A2B;
    border: none;
    border-radius: 4px;
    width: 36px;
    height: 24px;
}

.arrow:hover {
    animation: buttonHover 1s linear 0s infinite;
    
}

@keyframes buttonHover {
    from {
        
        background-color: #c46b2bc2;
    }
    to {
        background-color: #c46b2b94;
    }
}

.fa-arrow-right {
    color: #D9D9D9;
    width: 17.5px;
}
      /* section2 */
.section2 {
    background-color: #1A1A1A;
    padding: 96px 94px;
}

.most_popular_div {
    margin-bottom: 64px;
    animation-name: wavy;
}
.most_popular {
    
    text-align: center;
    font-size: 36px;
    font-family: Inter;
    font-weight: 700;
    line-height: 52px;
    color: #05BCCA;

}


.most_popular_div:hover .most_popular {
    text-shadow: 0 0 10px #0B8A93, 0 0 20px #0B8A93, 0 0 30px #0B8A93, 0 0 40px #0B8A93; 
}

.most_popular:hover {
    text-shadow: 0 0 10px #0B8A93, 0 0 20px #0B8A93, 0 0 30px #0B8A93;
}

.underline{ 
    width: 187.27px;
    /* height: 1px; */
    border: 2px solid #05BCCA;
    margin: auto;
}

.cards {
    display: flex;
    column-gap: 20px;
}

.article1 {
    padding: 8px 8px 16px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    background-color: #2C4246;
    border: 1px solid #05BCCA;
}

.article1:hover {
    box-shadow: 0 0 10px #0B8A93, 0 0 20px #0B8A93, 0 0 30px #0B8A93, 0 0 40px #0B8A93, 0 0 50px #0B8A93, 0 0 60px #0B8A93, 0 0 70px #0B8A93;
    
    transform: scale(111%);
    border-radius: 20px;
    cursor: zoom-in;
    background-color: #385358; 
    position: relative;
}

.article1:hover .guitar1 {
    border-radius: 20px;
}

.article1:hover .article_h2 {
    font-size: calc(150%);
}

.article1:hover .fa-star {
    font-size: calc(110%);
}

.article1:hover .p950 {
    font-size: calc(140%);
}

.article1:hover header {
    position: absolute;
}

.description_div {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.article_h2 {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;

}

.stars_price {
    display: flex;
    justify-content: space-between;
    width: 282px;
}

.stars {
    display: flex;
    justify-content: space-between;
    column-gap: 4px;
}

.fa-star {
    color: #C46A2B;
    font-size: 11.41px;
}

.price_div {
    display: flex;
    justify-content: space-between;
    column-gap: 4px;
}


.fa-dollar-sign {
    color: #05BCCA;   
}

.p950 {
    font-size: 16px;
    color: #05BCCA;
}

/* footer */
footer {
    padding: 48px 306px;
    background-color: #2C4246;
    display: flex;
    justify-content: space-between;
}
 /* footer article1 */
.footer_article1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.brands_h3_div {
    max-width: 80px;
}

.brands_h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #D9D9D9;

}

.brands_h3:hover {
    text-shadow: 0 0 10px #0B8A93, 0 0 20px #0B8A93, 0 0 30px #0B8A93, 0 0 40px #0B8A93; 
    font-size: calc(180%);

}


.underline_footer {
    width: 80px;
    border: 2px solid #D9D9D9;
}

.p_Footer {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #D9D9D9;

}

.p_Footer:hover {
    color: #098cc9;
    cursor: default;
}

/* footer article2 */

.footer_article2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    width: 129px;
    margin-inline: 50px;

}

.information_h3_div {
    max-width: 140px;
}

.information_h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #D9D9D9;
}

.information_h3:hover {
    text-shadow: 0 0 10px #0B8A93, 0 0 20px #0B8A93, 0 0 30px #0B8A93, 0 0 40px #0B8A93; 
    font-size: calc(180%);
}

.p_Footer_white {
    color: #FFFFFF;
}

.p_Footer_white:hover {
    color: #098cc9;
}
/* footer article3 */
.footer_article3 {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.contact_h3_div {
    max-width: 91px;
}

.contact_h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #D9D9D9;
}

.contact_h3:hover {
    text-shadow: 0 0 10px #0B8A93, 0 0 20px #0B8A93, 0 0 30px #0B8A93, 0 0 40px #0B8A93; 
    font-size: calc(180%);
}

.instagram:hover, .facebook:hover, .whatsapp:hover {
    opacity: calc(50%);
}







/* PAGE 2 - catalog.html */









.catalog_header {
    border-bottom: 2px solid #05BCCA;
    background-color: #012426;
    margin: auto;
    height: 96px;
    padding: 16px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: inherit;
    height: 96px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


/* main */

.catalog_main {
    background-color: #012426;
    padding: 96px 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 64px;

}

/* article1 */

.catalog_article1 {
    display: flex;
    justify-content: space-between;

}

.catalog_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
}

.filter {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #D9D9D9;
}


.catalog_sortBy {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

.sortBy {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;

    color: #D9D9D9;

}

.bestSelling {
    border-radius: 4px;
    background-color: #A1C3C9;

    display: flex;
    align-items: center;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    color: #2C4246;

    border: none;

}

/* cataglog 12 articles */

.catalog_section1 {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 40px;
    flex-wrap: wrap;

}

.catalog_12_articles {
    width: 298px;
    height: 400px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2C4246;
    /* border: 5px solid red; */
}

.catalog_12_articles:hover {
    box-shadow: 0 0 10px #0B8A93, 0 0 20px #0B8A93, 0 0 30px #0B8A93, 0 0 40px #0B8A93, 0 0 50px #0B8A93, 0 0 60px #0B8A93, 0 0 70px #0B8A93;
    
    transform: scale(111%);
    border-radius: 20px;
    cursor: zoom-in;
    background-color: #385358; 
    position: relative;

    padding: 8px;
    background-color: #354f53;
}

.catalog_12_articles:hover .catalog_guitaras {
    border-radius: 20px 20px 0 0;
}



.catalog_description_div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 8px;
}
.catalog_article_h2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    color: #D9D9D9;
}
.catalog_12_articles:hover .catalog_article_h2 {
    font-size: calc(150%);
}
.catalog_stars_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog_12_articles:hover .fa-star {
    font-size: calc(113%);
}
.catalog_12_articles:hover .fa-dollar-sign, .p950 {
    font-size: calc(120%);
}


/* PAGE 3 - Contact.html */

.contact_header {
    border-bottom: 2px solid #05BCCA;
    background-color: #012426;
    margin: auto;
    height: 96px;
    padding: 16px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: inherit;
    height: 96px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.contact_main {
    height: 720px;
    background-image: url(../images/Rectangle\ 7\ \(1\).png);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 105px 94px 105px 0;
}

.contact_section {
    display: flex;
    flex-direction: column;
    width: 616px;
    border: 5px solid red;
}

.contact_h2 {
    color: #FFFFFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;

}

