/* 768px - 481px */
@media (max-width: 744px){
    header {
        padding: 16px 32px;
    }
    .buttons {
        column-gap: 16px;
    }
    .header_guitar {
        width: 40px;
        height: 40px;
    }
    .section1 {
        height: 480px;
        padding-top: 32px;
    }
    .section2 {
        padding: 48px 32px;
    }
    footer {
        height: 628px;
        padding: 32px 154px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 40px;
    }
    .brands_h3_div, .underline_footer, .contact_h3_div, .p_Footer_white {
        margin: auto;
    }
    .p_Footer {
        text-align: center;
    }
    .social_icons {
        display: flex;
        justify-content: center;
        column-gap: 16px;
    }

    /* Page 2 - Catalog.html */
    .catalog_main {
        padding: 48px 32px;
    }
    .catalog_12_articles, .catalog_guitaras, .catalog_description_div {
        width: 330px;
    }
    .catalog_responsive744_button1, .catalog_responsive744_button2 {
        display: flex;
    }
    .catalog_previous_button, .catalog_next_button {
        display: none;
    }
    /* Page 3 - contact.html */
    .contact_main {
        align-items: start;
        padding: 32px 20px;
        height: 767px;
    }
    .contact_section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 33px;
    }
    .contact_aside {
        display: flex;
        row-gap: 33px;
    }
    .contact_article {

        justify-content: center;
        column-gap: 24px;
        height: 56px;
        padding: 16px;
    }
    .contact_mobile_email {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 24px;
    }
    .contact_email, .contact_number {
        display: none;
    }
    .gis_location-poi {
        width: 24px;
        height: 24px;
    }
    .contact_figure {
        flex-direction: column;
        row-gap: 40px;

    }
    .contact_form {
        display: flex;
    }
    .inputs {
        display: flex;
        column-gap: 8px;
    }
    .contact_input {
        display: flex;
        width: 100%;
    }
    .contact_iframe {
        width: 100%;
    }
    .contact_social_icons {
        justify-content: center;
        align-items: start;
        column-gap: 16px;
    }
}
